.u-section-1 .u-sheet-1 {
  min-height: 1454px;
}

.u-section-1 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: 510px auto 0 -17px;
}

.u-section-1 .u-shape-2 {
  width: 136px;
  height: 136px;
  margin: -613px -17px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -118px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL2.png");
  min-height: 578px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 647px;
  min-height: 237px;
  margin: 318px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 43px 150px 0 190px;
}

.u-section-1 .u-text-2 {
  margin: -6px 206px 0 276px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 578px;
  background-image: linear-gradient(#f5f7fa, #e0e5eb);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-image-2 {
  width: 138px;
  height: 138px;
  background-image: url("images/unnamed.png");
  background-position: 50% 50%;
  animation-duration: 2000ms;
  margin: 118px 119px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 0 112px 0 135px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 142px 0 165px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  margin: 38px 856px 0 151px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 886px 0 151px;
}

.u-section-1 .u-image-3 {
  width: 115px;
  height: 115px;
  background-image: url("images/3nhc5vi.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -49px auto 0 24px;
}

.u-section-1 .u-text-8 {
  font-size: 0.625rem;
  margin: -64px 767px 0 151px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-transform: none;
  margin: -58px 485px 0 523px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 473px 0 523px;
}

.u-section-1 .u-image-4 {
  width: 115px;
  height: 115px;
  background-image: url("images/Sanstitre-3.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -49px auto 0 396px;
}

.u-section-1 .u-text-11 {
  font-size: 0.625rem;
  margin: -64px 396px 0 523px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  text-transform: none;
  margin: 92px 856px 0 151px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 810px 0 151px;
}

.u-section-1 .u-image-5 {
  width: 115px;
  height: 115px;
  background-image: url("images/Sanstitre-3.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -49px auto 0 24px;
}

.u-section-1 .u-text-14 {
  font-size: 0.625rem;
  margin: -64px 767px 0 151px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  text-transform: none;
  margin: -58px 485px 0 523px;
}

.u-section-1 .u-shape-3 {
  width: 135px;
  height: 136px;
  margin: 113px auto 0 -17px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -255px 473px 0 523px;
}

.u-section-1 .u-image-6 {
  width: 115px;
  height: 115px;
  background-image: url("images/Sanstitre-3.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -49px auto 0 396px;
}

.u-section-1 .u-text-17 {
  font-size: 0.625rem;
  margin: -64px 396px 0 523px;
}

.u-section-1 .u-shape-4 {
  width: 135px;
  height: 136px;
  margin: -88px 31px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 297px;
  height: 297px;
  margin: -312px 48px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 135px;
  height: 136px;
  margin: 334px -17px 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: -407px;
  margin-bottom: 18px;
  margin-right: 0;
}

.u-section-1 .u-image-8 {
  min-height: 389px;
  background-image: url("images/fr-minecraft_wallpaper_OBL21.png");
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 38px auto 0 148px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 43px 0 0 30px;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 0 0 30px;
}

.u-section-1 .u-image-9 {
  min-height: 389px;
  background-image: url("images/2021-06-15_13.15.33_3.png");
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-1 .u-text-20 {
  margin: 38px 0 0;
}

.u-section-1 .u-text-21 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-1 .u-image-10 {
  min-height: 389px;
  background-image: url("images/2021-06-15_13.11.55.png");
}

.u-section-1 .u-container-layout-6 {
  padding-left: 28px;
  padding-right: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 39px 0 0 auto;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 43px 1px 0;
}

.u-section-1 .u-text-23 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 12px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1469px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 632px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -735px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 698px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-top: 395px;
    margin-left: 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 102px;
    margin-right: 62px;
    width: 307px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 99px;
    margin-left: 172px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 698px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 100px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 130px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-right: 722px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 741px;
    margin-left: 96px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 1px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -339px;
    margin-right: -83px;
    margin-left: 801px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 163px;
    margin-right: 513px;
    margin-left: 295px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-right: 529px;
    margin-left: 268px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -367px;
    margin-right: -94px;
    margin-left: 813px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 191px;
    margin-right: 114px;
    margin-left: 693px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-right: 99px;
    margin-left: 663px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -1px;
    margin-right: 139px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -381px;
    margin-right: -95px;
    margin-left: 813px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 205px;
    margin-right: 321px;
    margin-left: 488px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 175px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -312px;
    margin-right: 332px;
    margin-left: 464px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-right: 347px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -349px;
    margin-right: -82px;
    margin-left: 801px;
  }

  .u-section-1 .u-shape-4 {
    width: 88px;
    height: 86px;
    margin-top: -16px;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 167px;
    height: 167px;
    margin-top: -179px;
    margin-right: 12px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 554px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -357px;
    margin-bottom: 60px;
    margin-right: initial;
  }

  .u-section-1 .u-image-8 {
    min-height: 334px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 118px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    min-height: 321px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-1 .u-image-10 {
    min-height: 321px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 350px;
    margin-left: -16px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -453px;
  }

  .u-section-1 .u-image-1 {
    min-height: 419px;
    background-position: 62.48% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-top: 149px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 97px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -12px;
    margin-right: 82px;
    margin-left: 87px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 61px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -8px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 587px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 617px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: -138px;
    margin-left: 636px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 403px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 419px;
    margin-left: 158px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -357px;
    margin-right: -110px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 181px;
    margin-right: 4px;
    margin-left: 583px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 541px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 37px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -358px;
    margin-right: -138px;
    margin-left: 636px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 182px;
    margin-right: 211px;
    margin-left: 378px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 164px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -301px;
    margin-right: 222px;
    margin-left: 354px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 245px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -345px;
    margin-right: -110px;
    margin-left: 610px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -75px;
    margin-right: auto;
    margin-left: 585px;
  }

  .u-section-1 .u-image-7 {
    width: 136px;
    height: 136px;
    margin-top: -136px;
    margin-right: -1px;
    margin-left: 585px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 644px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -468px;
    margin-bottom: 27px;
    margin-right: initial;
  }

  .u-section-1 .u-image-8 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 14px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 19px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 62px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 24px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-9 {
    min-height: 454px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 57px;
  }

  .u-section-1 .u-image-10 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 33px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 50px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2879px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 713px;
    margin-right: 425px;
    margin-left: -20px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -816px;
  }

  .u-section-1 .u-image-1 {
    min-height: 546px;
    background-position: 16.99% 50%;
    order: 1;
  }

  .u-section-1 .u-group-1 {
    margin-top: 267px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 53px;
    margin-left: -6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -6px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 237px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -3px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -9px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 133px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -84px;
    margin-right: 407px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 437px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 425px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -944px;
    margin-right: 97px;
    margin-left: 311px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 768px;
    margin-right: 313px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 329px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -935px;
    margin-right: 113px;
    margin-left: 297px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 760px;
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 361px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -935px;
    margin-right: 95px;
    margin-left: 313px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 760px;
    margin-right: 121px;
    margin-left: 288px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -80px;
    margin-right: 132px;
    margin-left: 264px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -935px;
    margin-right: 97px;
    margin-left: 313px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 1728px;
    margin-left: 405px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -1953px;
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 2094px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1533px;
    margin-bottom: 60px;
    margin-right: initial;
  }

  .u-section-1 .u-image-8 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 225px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 127px;
    margin-right: 110px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-9 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-21 {
    width: 358px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: 89px;
  }

  .u-section-1 .u-text-23 {
    width: 318px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2206px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 538px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -652px;
    margin-left: 222px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -116px;
    margin-right: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 314px;
    background-position: 40.62% 100%;
  }

  .u-section-1 .u-group-1 {
    min-height: 93px;
    margin-top: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -57px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    width: 183px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 18px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -7px;
    margin-right: -37px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 325px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 207px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 237px;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -842px;
    margin-right: -19px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 666px;
    margin-right: 208px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 197px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -849px;
    margin-right: -11px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 674px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -814px;
    margin-right: -36px;
    margin-left: 244px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 639px;
    margin-right: 21px;
    margin-left: 188px;
  }

  .u-section-1 .u-shape-3 {
    width: 145px;
    height: 141px;
    margin-top: -264px;
    margin-left: -20px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 122px;
    margin-right: 32px;
    margin-left: 164px;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-top: -860px;
    margin-right: -17px;
    margin-left: 227px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -77px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: -125px;
    margin-right: 13px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 1325px;
    margin-right: -20px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1069px;
    margin-right: initial;
  }

  .u-section-1 .u-image-8 {
    min-height: 384px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 8px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 142px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 83px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-9 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 5px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 41px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-image-10 {
    min-height: 351px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 21px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 30px;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 530px;
}

.u-section-2 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: 383px -16px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 135px;
  height: 136px;
  margin: -477px auto 0 -16px;
}

.u-section-2 .u-image-1 {
  width: 596px;
  min-height: 500px;
  background-image: url("images/fr-minecraft_wallpaper_OBL2.png?rand=85f8");
  margin: -148px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 56px 20px 0;
}

.u-section-2 .u-form-1 {
  height: 302px;
  width: 532px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-image-2 {
  width: 249px;
  height: 441px;
  margin: -471px auto 0 891px;
}

.u-section-2 .u-image-3 {
  width: 249px;
  height: 441px;
  margin: -441px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-2 {
    margin-top: -375px;
    margin-left: -23px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -250px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -441px;
    margin-left: 741px;
  }

  .u-section-2 .u-image-3 {
    margin-bottom: 0;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 406px;
    margin-right: 46px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -529px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -119px;
  }

  .u-section-2 .u-image-2 {
    width: 112px;
    height: 195px;
    margin-top: -427px;
    margin-left: 658px;
  }

  .u-section-2 .u-image-3 {
    width: 112px;
    height: 195px;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 342px;
    margin-right: auto;
    margin-left: 325px;
  }

  .u-section-2 .u-shape-2 {
    width: 100px;
    height: 384px;
    margin-top: -880px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 216px;
    height: 384px;
    margin-top: -918px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 215px;
    height: 384px;
    margin-top: -384px;
    margin-left: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    margin-left: 205px;
  }

  .u-section-2 .u-shape-2 {
    height: 312px;
    margin-top: -844px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-form-1 {
    width: 310px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -904px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-3 {
    margin-right: -50px;
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: 619px auto 0 454px;
}

.u-section-3 .u-shape-2 {
  width: 135px;
  height: 136px;
  margin: -735px auto 0 -19px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -119px;
  margin-bottom: 40px;
}

.u-section-3 .u-image-1 {
  min-height: 698px;
  background-image: url("images/2021-06-15_13.15.33_3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 14px;
}

.u-section-3 .u-shape-3 {
  height: 672px;
  width: 543px;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 116px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-3 .u-shape-4 {
  width: 135px;
  height: 136px;
  margin: 83px 116px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 285px;
  height: 285px;
  margin: -121px auto 0 157px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 612px;
    margin-left: 350px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -728px;
    margin-left: -14px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 576px;
  }

  .u-section-3 .u-shape-3 {
    width: 443px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 220px;
    margin-right: 73px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -304px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    margin-left: 240px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 441px;
  }

  .u-section-3 .u-shape-3 {
    width: 333px;
  }

  .u-section-3 .u-shape-4 {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 614px;
    margin-right: -18px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -730px;
  }

  .u-section-3 .u-image-1 {
    min-height: 698px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 271px;
    margin-right: 103px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-3 .u-image-1 {
    min-height: 439px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-shape-4 {
    margin-right: 19px;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
    margin-left: 19px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL21.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-left: -25px;
    margin-right: -25px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 80px;
}

 .audiovexento {
	width: 50%;
	height: 50%;
    text-align: center;
	margin; auto;
    
}