.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 196px;
}

.u-section-2 .u-group-1 {
  width: 647px;
  min-height: 174px;
  margin: 11px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 29px 133px 0 207px;
}

.u-section-2 .u-text-2 {
  margin: -13px 246px 0 241px;
}

.u-section-2 .u-group-2 {
  width: 68px;
  min-height: 23px;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  margin: 4px auto 0 314px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 9px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 700;
  margin: 3px 3px 0 5px;
}

.u-section-2 .u-image-1 {
  width: 91px;
  height: 98px;
  margin: -102px auto 0 116px;
}

.u-section-2 .u-group-3 {
  width: 68px;
  min-height: 23px;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  height: auto;
  margin: -20px auto 0 241px;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 3px 7px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -103px;
    margin-left: 117px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -19px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 101px;
    margin-left: 134px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -16px;
    margin-right: 218px;
    margin-left: 163px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 6px;
    margin-left: 232px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 43px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 72px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 53px;
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-2 {
    width: 159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: -3px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -198px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 77px;
    margin-left: 97px;
  }

  .u-section-2 .u-text-4 {
    width: 50px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: 20px auto 0 454px;
}

.u-section-3 .u-shape-2 {
  width: 135px;
  height: 136px;
  margin: -735px auto 0 -19px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -119px;
  margin-bottom: -568px;
}

.u-section-3 .u-image-1 {
  min-height: 698px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2021-06-17_00.06.52.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 14px;
}

.u-section-3 .u-shape-3 {
  height: 672px;
  width: 543px;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 707px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 85px 121px 0 122px;
}

.u-section-3 .u-text-2 {
  margin: 20px 81px 0;
}

.u-section-3 .u-shape-4 {
  width: 135px;
  height: 136px;
  margin: 302px -12px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 285px;
  height: 285px;
  margin: -298px auto 0 285px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 643px;
    margin-left: 349px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -733px;
    margin-left: -11px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -124px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-image-1 {
    min-height: 576px;
  }

  .u-section-3 .u-shape-3 {
    width: 443px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 71px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-2 {
    width: 408px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 874px;
    margin-right: 225px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -801px;
    margin-left: 103px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -345px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-image-1 {
    min-height: 441px;
  }

  .u-section-3 .u-shape-3 {
    width: 333px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 719px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 237px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1458px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 491px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -306px;
    margin-left: 190px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -404px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-image-1 {
    min-height: 698px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 265px;
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 346px;
    margin-right: 45px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -188px;
    margin-bottom: -317px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 212px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -136px;
    margin-left: 89px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -348px;
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 700px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-shape-3 {
    height: 686px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 762px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 228px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 465px;
    margin-right: 86px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -142px;
    margin-bottom: -435px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL21.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 412px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#db545a, #f1c50e);
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.125rem;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 10px;
}

.u-section-6 .u-shape-1 {
  width: 28px;
  height: 28px;
  margin: -3504px auto 0 367px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: -26px 720px 60px 342px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 620px;
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 510px;
    margin-left: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 420px;
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    margin-left: 312px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 262px;
    margin-left: 102px;
  }
}