.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 473px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 391px;
  background-image: url("images/fr-minecraft_wallpaper_OBL21.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 38px auto 0 148px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 43px 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 0 0 30px;
}

.u-section-2 .u-image-2 {
  min-height: 391px;
  background-image: url("images/2021-06-15_13.15.33_3.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 38px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 391px;
  background-image: url("images/2021-06-15_13.11.55.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 28px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 39px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 43px 1px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 12px 1px 0;
}

.u-section-2 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: -165px -321px 0 1326px;
}

.u-section-2 .u-image-4 {
  width: 285px;
  height: 285px;
  margin: -298px auto 0 1164px;
}

.u-section-2 .u-shape-2 {
  width: 135px;
  height: 136px;
  margin: -123px 1168px 0 -163px;
}

.u-section-2 .u-image-5 {
  width: 285px;
  height: 285px;
  margin: -298px auto 60px -325px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-image-1 {
    min-height: 322px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 118px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 322px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-image-3 {
    min-height: 349px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 195px;
    margin-right: auto;
    margin-left: 254px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -296px;
    margin-left: 92px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -125px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin: -295px 65px 35px auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-image-1 {
    min-height: 247px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 14px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    min-height: 247px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 57px;
  }

  .u-section-2 .u-image-3 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 33px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 50px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 186px;
    margin-left: 193px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 31px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -126px;
    margin-right: 19px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 30px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2058px;
  }

  .u-section-2 .u-image-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 18px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 127px;
    margin-right: 110px;
    margin-left: 89px;
  }

  .u-section-2 .u-image-2 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 39px;
  }

  .u-section-2 .u-text-4 {
    width: 358px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 556px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 29px;
    margin-right: 77px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-6 {
    width: 318px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 298px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -297px;
    margin-right: 119px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -199px;
    margin-right: auto;
    margin-left: 216px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -221px;
    margin-right: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 8px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 83px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-2 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 41px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-2 .u-image-3 {
    min-height: 350px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 21px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -223px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -232px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -189px;
    margin-right: auto;
    margin-bottom: 41px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL21.png");
  background-size: 125%;
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 687px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 55px 483px 0 490px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  margin: 60px 879px 0 129px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 867px 0 129px;
}

.u-section-4 .u-image-1 {
  width: 115px;
  height: 115px;
  background-image: url("images/unnamed.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -46px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.625rem;
  margin: -70px 790px 0 129px;
}

.u-section-4 .u-image-2 {
  width: 115px;
  height: 115px;
  background-image: url("images/Sanstitre-3.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -61px auto 0 653px;
}

.u-section-4 .u-text-5 {
  font-size: 0.625rem;
  margin: -70px 137px 0 782px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  margin: -55px 228px 0 780px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -7px 214px 0 782px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  text-transform: none;
  animation-duration: 1000ms;
  margin: 139px 880px 0 127px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 910px 0 127px;
}

.u-section-4 .u-image-3 {
  width: 115px;
  height: 115px;
  background-image: url("images/3nhc5vi.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -46px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 0.625rem;
  margin: -70px 653px 0 127px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  text-transform: none;
  margin: -109px 510px 0 498px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 498px 0;
}

.u-section-4 .u-image-4 {
  width: 115px;
  height: 115px;
  background-image: url("images/Sanstitre-3.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -40px auto 0 653px;
}

.u-section-4 .u-text-13 {
  font-size: 0.625rem;
  margin: -73px 137px 0 782px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  text-transform: none;
  margin: 120px 463px 0 544px;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 417px 0 544px;
}

.u-section-4 .u-image-5 {
  width: 115px;
  height: 115px;
  background-image: url("images/Sanstitre-3.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -40px auto 0 417px;
}

.u-section-4 .u-text-16 {
  font-size: 0.625rem;
  margin: -73px 791px 112px 127px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-size: auto 125%;
  }

  .u-section-4 .u-text-1 {
    margin-right: 433px;
    margin-left: 340px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 81px;
    margin-right: 624px;
    margin-left: 184px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 612px;
    margin-left: 184px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -52px;
    margin-right: 766px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -63px;
    margin-right: 612px;
    margin-left: 184px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -68px;
    margin-left: 570px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -63px;
    margin-right: -163px;
    margin-left: 695px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -56px;
    margin-right: 72px;
    margin-left: 695px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 101px;
    margin-left: 695px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 132px;
    margin-right: 624px;
    margin-left: 183px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 654px;
    margin-left: 183px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -53px;
    margin-right: 766px;
    margin-left: auto;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -62px;
    margin-right: 466px;
    margin-left: 183px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -120px;
    margin-right: 410px;
    margin-left: 398px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: 398px;
    margin-right: 398px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -53px;
    margin-left: 570px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: -62px;
    margin-right: 101px;
    margin-left: 695px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: 107px;
    margin-right: 623px;
    margin-left: 184px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-right: 577px;
    margin-left: 184px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -58px;
    margin-right: 766px;
    margin-left: auto;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin: -57px 577px 60px 184px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-text-1 {
    width: 219px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 25px;
    margin-right: 463px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 451px;
    margin-left: 125px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -50px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -65px;
    margin-right: 451px;
    margin-left: 125px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -66px;
    margin-left: 394px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -65px;
    margin-right: 0;
    margin-left: 519px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -55px;
    margin-right: 70px;
    margin-left: 519px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -6px;
    margin-right: 60px;
    margin-left: 517px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 139px;
    margin-right: 463px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 493px;
    margin-left: 125px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -54px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: -61px;
    margin-right: 339px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -136px;
    margin-right: 301px;
    margin-left: 289px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 289px;
    margin-right: 289px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -54px;
    margin-left: 394px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -61px;
    margin-right: 58px;
    margin-left: 519px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 112px;
    margin-right: 464px;
    margin-left: 125px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 418px;
    margin-left: 125px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -59px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-16 {
    margin-top: -56px;
    margin-right: 417px;
    margin-left: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 202px;
    margin-left: 172px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 154px;
    margin-right: 255px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 187px;
    margin-left: 210px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -163px;
    margin-left: 192px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 44px;
    margin-right: 173px;
    margin-left: 223px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 349px;
    margin-left: 192px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 47px;
    margin-right: 180px;
    margin-left: 227px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 199px;
    margin-left: 210px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 187px;
    margin-right: 187px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -335px;
    margin-right: 223px;
    margin-left: 186px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 246px;
    margin-left: 193px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -167px;
    margin-left: 192px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 52px;
    margin-right: 112px;
    margin-left: 80px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 399px;
    margin-right: 194px;
    margin-left: 215px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 204px;
    margin-left: 194px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -159px;
    margin-left: 193px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 40px;
    margin-right: 186px;
    margin-left: 223px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 169px;
    margin-right: 202px;
    margin-left: 206px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 190px;
    margin-left: 172px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -158px;
    margin-right: 425px;
    margin-left: 192px;
  }

  .u-section-4 .u-text-16 {
    margin-top: 42px;
    margin-right: 139px;
    margin-left: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1387px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 17px;
    margin-left: 104px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 141px;
    margin-right: 145px;
    margin-left: 133px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 77px;
    margin-left: 120px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -161px;
    margin-left: 104px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 46px;
    margin-right: 63px;
    margin-left: 134px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 369px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 40px;
    margin-right: 63px;
    margin-left: 129px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -56px;
    margin-right: 81px;
    margin-left: 111px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -5px;
    margin-right: 103px;
    margin-left: 82px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -355px;
    margin-right: 112px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-9 {
    width: 134px;
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -165px;
    margin-left: 104px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 50px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 424px;
    margin-right: 94px;
    margin-left: 115px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 103px;
    margin-left: 94px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -158px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 43px;
    margin-right: 67px;
    margin-left: 129px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 185px;
    margin-right: 58px;
    margin-left: 111px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 12px;
    margin-left: 77px;
  }

  .u-section-4 .u-image-5 {
    margin-right: auto;
    margin-left: 99px;
  }

  .u-section-4 .u-text-16 {
    margin-top: 44px;
    margin-right: -40px;
    margin-left: 129px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}