.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 473px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 391px;
  background-image: url("images/fr-minecraft_wallpaper_OBL21.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 38px auto 0 148px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 43px 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 0 0 30px;
}

.u-section-2 .u-image-2 {
  min-height: 391px;
  background-image: url("images/2021-06-15_13.15.33_3.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 38px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 391px;
  background-image: url("images/2021-06-15_13.11.55.png");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 28px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 39px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 43px 1px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 12px 1px 0;
}

.u-section-2 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: -165px -321px 0 1326px;
}

.u-section-2 .u-image-4 {
  width: 285px;
  height: 285px;
  margin: -298px auto 0 1164px;
}

.u-section-2 .u-shape-2 {
  width: 135px;
  height: 136px;
  margin: -123px 1168px 0 -163px;
}

.u-section-2 .u-image-5 {
  width: 285px;
  height: 285px;
  margin: -298px auto 60px -325px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-image-1 {
    min-height: 322px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 118px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 322px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-image-3 {
    min-height: 349px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 195px;
    margin-right: auto;
    margin-left: 254px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -296px;
    margin-left: 92px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -125px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin: -295px 65px 35px auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-image-1 {
    min-height: 247px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 14px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    min-height: 247px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 57px;
  }

  .u-section-2 .u-image-3 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 33px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 50px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 186px;
    margin-left: 193px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 31px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -126px;
    margin-right: 19px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 30px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2058px;
  }

  .u-section-2 .u-image-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 18px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 127px;
    margin-right: 110px;
    margin-left: 89px;
  }

  .u-section-2 .u-image-2 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 39px;
  }

  .u-section-2 .u-text-4 {
    width: 358px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 556px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 29px;
    margin-right: 77px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-6 {
    width: 318px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 298px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -297px;
    margin-right: 119px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -199px;
    margin-right: auto;
    margin-left: 216px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -221px;
    margin-right: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 8px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 83px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-2 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 41px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-2 .u-image-3 {
    min-height: 350px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 21px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -223px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -232px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -189px;
    margin-right: auto;
    margin-bottom: 41px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL21.png");
  background-size: 125%;
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 687px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 55px 483px 0 490px;
}

.u-section-4 .u-group-1 {
  width: 269px;
  margin: 69px auto 0 59px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  margin: 12px 12px 0 125px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 0 0 125px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/unnamed.png");
}

.u-section-4 .u-text-4 {
  font-size: 0.625rem;
  margin: -63px 0 0 125px;
}

.u-section-4 .u-group-2 {
  width: 533px;
  margin: -115px -163px 0 auto;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Sanstitre-3.png");
}

.u-section-4 .u-text-5 {
  font-size: 0.625rem;
  margin: -63px 0 0 125px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  margin: -56px 235px 0 125px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -7px 264px 0 125px;
}

.u-section-4 .u-group-3 {
  width: 415px;
  margin: 119px auto 0 59px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  text-transform: none;
  animation-duration: 1000ms;
  margin: 13px 158px 0 124px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 188px 0 124px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/3nhc5vi.jpg");
}

.u-section-4 .u-text-10 {
  font-size: 0.625rem;
  margin: -62px 0 0 124px;
}

.u-section-4 .u-group-4 {
  width: 269px;
  margin: -133px 101px 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  text-transform: none;
  margin: 7px 12px 0 125px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 0 0 125px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/Sanstitre-3.png");
}

.u-section-4 .u-text-13 {
  font-size: 0.625rem;
  margin: -62px 0 0 125px;
}

.u-section-4 .u-group-5 {
  width: 304px;
  margin: 43px auto 0 59px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  text-transform: none;
  margin: 19px 46px 0 125px;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -6px 0 0 125px;
}

.u-section-4 .u-image-5 {
  background-image: url("images/Sanstitre-3.png");
}

.u-section-4 .u-text-16 {
  font-size: 0.625rem;
  margin: -56px 0 0 125px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-size: auto 125%;
  }

  .u-section-4 .u-text-1 {
    margin-right: 433px;
    margin-left: 340px;
  }

  .u-section-4 .u-group-1 {
    min-height: 115px;
  }

  .u-section-4 .u-image-1 {
    width: 115px;
    height: 115px;
    background-position: 50% 50%;
    animation-duration: 1000ms;
    margin: -52px 154px 0 0;
  }

  .u-section-4 .u-group-2 {
    min-height: 115px;
  }

  .u-section-4 .u-image-2 {
    width: 115px;
    height: 115px;
    background-position: 50% 50%;
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
  }

  .u-section-4 .u-group-3 {
    min-height: 133px;
    margin-top: 55px;
  }

  .u-section-4 .u-image-3 {
    width: 115px;
    height: 115px;
    background-position: 50% 50%;
    animation-duration: 1000ms;
    margin: -53px 300px 0 0;
  }

  .u-section-4 .u-group-4 {
    min-height: 115px;
  }

  .u-section-4 .u-image-4 {
    width: 115px;
    height: 115px;
    background-position: 50% 50%;
    animation-duration: 1000ms;
    margin: -47px auto 0 0;
  }

  .u-section-4 .u-group-5 {
    min-height: 115px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-5 {
    width: 115px;
    height: 115px;
    background-position: 50% 50%;
    animation-duration: 1000ms;
    margin: -59px 189px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-text-1 {
    width: 219px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 202px;
    margin-left: 172px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 837px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1387px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 17px;
    margin-left: 104px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 167px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
    margin-top: 841px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 129px;
    margin-left: 102px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 135px;
    margin-left: 102px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 225px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 102px;
  }

  .u-section-4 .u-group-4 {
    margin-right: 71px;
  }

  .u-section-4 .u-group-5 {
    margin-left: 36px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}