.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-shape-1 {
  width: 135px;
  height: 136px;
  margin: 387px -279px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 135px;
  height: 136px;
  margin: -453px auto 0 -282px;
}

.u-section-2 .u-image-1 {
  width: 1023px;
  min-height: 500px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL2.png");
  margin: -155px auto 0 56px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 56px 20px 0;
}

.u-section-2 .u-form-1 {
  height: 302px;
  width: 532px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, #db545a, #b29a36);
  border-style: none;
}

.u-section-2 .u-image-2 {
  width: 249px;
  height: 441px;
  margin: -481px -269px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 249px;
  height: 441px;
  margin: -428px auto 57px -269px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 359px;
    margin-right: 30px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -272px;
    margin-left: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 442px;
    min-height: 471px;
    margin-top: -268px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    width: 394px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-2 {
    width: 218px;
    height: 386px;
    margin-top: -401px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 218px;
    height: 386px;
    margin-top: -386px;
    margin-bottom: 58px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 38px;
    margin-right: 277px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -214px;
    margin-left: 225px;
  }

  .u-section-2 .u-image-1 {
    width: 445px;
    margin-top: -198px;
    margin-right: 113px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 162px;
    height: 282px;
    margin-top: -422px;
    margin-right: -73px;
  }

  .u-section-2 .u-image-3 {
    width: 162px;
    height: 288px;
    margin-top: -282px;
    margin-bottom: 31px;
    margin-left: -24px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 176px;
    margin-right: 135px;
  }

  .u-section-2 .u-shape-2 {
    width: 100px;
    height: 231px;
    margin-top: -192px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -331px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-form-1 {
    width: 492px;
  }

  .u-section-2 .u-image-2 {
    width: 216px;
    height: 384px;
    margin-top: 43px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    width: 215px;
    height: 384px;
    margin-top: -384px;
    margin-left: auto;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-shape-2 {
    height: 312px;
  }

  .u-section-2 .u-form-1 {
    width: 310px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-3 {
    margin-bottom: -57px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fr-minecraft_wallpaper_OBL21.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 352px;
}

.u-section-4 .u-list-1 {
  width: 500px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-1 {
  min-height: 352px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 3px 3px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 25px 30px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 auto 0 138px;
  padding: 8px 36px 9px 35px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 9px 17px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 25px 30px;
}

.u-section-4 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 auto 0 138px;
  padding: 8px 36px 9px 35px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 9px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 78px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 78px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}